// Widescreens
@include mediaXl{
    body{
        div#menu{
            margin:auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
            grid-template-areas: 
            "sortSpeed sortSpeed arraySize arraySize"
            "algo algo algo algo"
            "start start start start";
            .spacing{
                margin-bottom: 1rem;
            }
            div.sortSpeed{
                grid-area: sortSpeed;
            }
            div.arraySize{
                grid-area: arraySize;
            }
            div.algo{
                grid-area: algo;
                width: 65%;
            }
            button.start{
                grid-area: start;
                width: 150px;
            }
        }
        #visualizer{
            min-width: 330px;
            max-width: 85%;
            height: 250px;
        }

    }
}

// Desktops & Laptops
@include mediaLg {
    body{
        margin:auto;
        text-align: center;
        div#menu{
            margin:auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
            grid-template-areas: 
            "sortSpeed sortSpeed arraySize arraySize"
            "algo algo algo algo"
            "start start start start";
            .spacing{
                margin-bottom: 1rem;
            }
            div.sortSpeed{
                grid-area: sortSpeed;
            }
            div.arraySize{
                grid-area: arraySize;
            }
            div.algo{
                grid-area: algo;
                width: 65%;
            }
            button.start{
                grid-area: start;
                width: 150px;
            }
        }
        #visualizer{
            min-width: 330px;
            max-width: 85%;
            height: 250px;
        }

    }
}

// Tablets & Small Laptops
@include mediaMd {
    body{
        div#menu{
            margin:auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
            grid-template-areas: 
            "sortSpeed sortSpeed arraySize arraySize"
            "algo algo algo algo"
            "start start start start";
            .spacing{
                margin-bottom: 1rem;
            }
            div.sortSpeed{
                grid-area: sortSpeed;
            }
            div.arraySize{
                grid-area: arraySize;
            }
            div.algo{
                grid-area: algo;
                width: 65%;
            }
            button.start{
                grid-area: start;
                width: 150px;
            }
        }
        #visualizer{
            min-width: 330px;
            max-width: 85%;
            height: 250px;
        }

    }
}

// Smartphones
@include mediaSm{
    body{
        div#menu{
            margin:auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
            grid-template-areas: 
            "sortSpeed sortSpeed arraySize arraySize"
            "algo algo algo algo"
            "start start start start";
            .spacing{
                margin-bottom: 1rem;
            }
            div.sortSpeed{
                grid-area: sortSpeed;
            }
            div.arraySize{
                grid-area: arraySize;
            }
            div.algo{
                grid-area: algo;
                width: 65%;
            }
            button.start{
                grid-area: start;
                width: 150px;
            }
        }
        #visualizer{
            min-width: 330px;
            max-width: 85%;
            height: 250px;
        }

    }
}